@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    background: '#FEFCF7';
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1 {
    @apply text-7xl;
}

h2 {
    @apply text-[40px]
        leading-[48px];
}

h3 {
    @apply text-[32px]
        leading-[36px];
}

h4 {
    @apply text-2xl;
}

h1,
h2,
h3,
h4 {
    @apply font-fraunces
        font-bold;
}
